<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="/'''             utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href=" img/apple-icon.png">
  <link rel="icon" type="image/png" href=" img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Tester Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href=" css/bootstrap.min.css" rel="stylesheet" />
  <link href=" css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href=" demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src=" img/priyanshi.jpg">                            //tester photo
          </div>
        </a>
        <a href="/dashboard" class="simple-text logo-normal">
          <%= user %>
          <!-- <div class="logo-image-big">
            <img src=" img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/dashboard">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/projects">
              <i class="nc-icon nc-single-copy-04"></i>
              <p>My Test Progress</p>
            </a>
          </li>
          <li>
            <a href="/profile">
              <i class="nc-icon nc-single-02"></i>
              <p>Profile</p>
            </a>
          </li>
          <!-- <li>
              <a href="/project_bugs">
               <i class="nc-icon nc-settings"></i>
               <p>Bugs</p>
              </a>
            </li> -->
          <li>
              <a href="/addemulator">
                <i class="nc-icon nc-laptop"></i>
                <p>Emulator</p>
              </a>
            </li>
          <li>
              <a href="/bill">
                <i class="nc-icon nc-credit-card"></i>
                <p>Bill</p>
              </a>
            </li>
          <li>
            <a href="/chat">
              <i class="nc-icon nc-chat-33"></i>
              <p>Community Chat</p>
            </a>
          </li>
          <li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
            <%- include nav_tester.ejs %>
      <!-- <div class="panel-header panel-header-lg">

  <canvas id="bigDashboardChart"></canvas>


</div> -->
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-single-copy-04 text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Total Projects Enrolled</p>
                      <p class="card-title" id="num"> </p>
                      <p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i> Update Now
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-user-run text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">New Project release</p>
                      <p class="card-title" id="project_release">
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-10 col-sm-10">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-single-02 text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Project communities</p>
                      <p class="card-title" id="number_of_community">
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Project v/s Bug Analysis</h5>
                <p class="card-category">24 Hours performance</p>
              </div>
              <div class="card-body ">
                <canvas id=chartHours width="400" height="100"></canvas>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      <%- include footer.ejs %>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src=" js/core/jquery.min.js"></script>
  <script src=" js/core/popper.min.js"></script>
  <script src=" js/core/bootstrap.min.js"></script>
  <script src=" js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src=" js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src=" js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src=" js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src=" demo/demo.js"></script>
  <script>
     
$(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      //demo.initChartsPages();
      const url = '/getprojectsfortest';
      // Populate dropdown with list of provinces
      $.getJSON(url, function (info) {
        console.log(info);
        var count=0;
        for(var i= 0; i<info.data.length; i++){
          if(info.data[i].status==true){
            count+=1;
        }

        }
        //console.log(count);
        var num = count;
        var projectrelease = info.data.length - num;
        $("#num").text(num.toString());
        $("#project_release").text(projectrelease.toString());
        $("#number_of_community").text(num.toString());


        chartColor = "#FFFFFF";
        ctx = document.getElementById('chartHours').getContext("2d");
        var ongoing = [];
        var bugs = [];
        for (var i = 0; i < info.data.length; i++) {
         // if (info.data[i].tester.length > 0) {
            ongoing.push(info.data[i].name);
            bugs.push(info.data[i].bugs);
         // }
        }
        myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ongoing,
            datasets: [{
              label: "No. of Teams working",
              backgroundColor: ["lime", "aqua", "coral", "crimson"],
              //borderWidth: 3,
              data: bugs
            }]
          },
          options: {
            legend: { display: false },
            title: {
              display: true,
              text: 'Project and Number of Teams working on it'
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  userCallback: function (label, index, labels) {
                    // when the floored value is the same as the value we have a whole number
                    if (Math.floor(label) === label) {
                      return label;
                    }
                  },
                }
              }],
            },
          }
        });


      });

          //Getting Ongoing Project Vs working Teams
   
  });
  </script>
</body>

</html>
